<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>一个简单的网页</title>
    <script src="js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-3.4.1.min.css" />
</head>
<style>
    .img{
        width: 180px;
        height: 180px;
    }
</style>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">一个简单的网页</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="qrcode" style="display: none">
            <img class="img" id="img" src="" />
        </div>
        <div id="div_uv" style="display: none">
            <form class="form-inline">
                <div class="form-group">
                    <label for="uv">预期uv修改: </label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="uv" placeholder="预期uv修改">
                    </div>
                </div>
                <button type="button" id="btn_uv" class="btn btn-primary">更改</button>
            </form>
        </div>
        <div id="table">
        </div>
    </div>
</body>
<script>
    var timeId
        // 轮询
    $(function () {
        $("#btn_uv").click(() => {
            $.ajax({
                url: "api/set/uv",
                type: "post",
                data: {uv: $("#uv").val()},
                dataType: "json",
                success: (res) => {
                }
            })
        })
        $('#uv').keydown(function(event){
            if(event.keyCode === 13){
                event.preventDefault()
                $("#btn_uv").click()
            }
        });
        getData()
    })

    function getData() {
        // 轮询获取数据
        $.ajax({
            url: "api/get/data",
            type: "get",
            dataType: "json",
            success: (res) => {
                if (res.code === 4003) {
                    // 需要登录
                    login()
                } else {
                    $(".qrcode").hide()
                    $("#div_uv").show()
                    if (timeId) {
                        clearTimeout(timeId)
                    }
                    var $table = $("#table")
                    $table.html("")
                    var list = res.list
                    html = "<h2>更新时间: " + res.updated_at + "</h2>"
                    if (list) {
                        for (var i = 0; i < list.length; i++) {
                            data = list[i]
                            base_info = data.base_info
                            if (base_info.title === "")  {
                                return
                            }
                            product_detail = data.product_detail
                            html += "<div class=\"mytable\">"
                            html += "<h3>直播间: " + base_info.title + "</h3>"
                            html += "<table class=\"table table-striped\">"
                            html += "<tr><th>累计观看人数</th><th>GMV</th><th>实时该刷多少钱（降）</th><th>预期UV价值</th><th>实时UV价值</th></tr>"
                            html += "<tr><td>"+base_info.online_user_ucnt.value+"</td><td>￥" + (base_info.gmv/100) + "</td>" +
                                "<td style='color: #ff2b00'>￥" + (res.uv*base_info.online_user_ucnt.value-(base_info.gmv/100)) + " </td>" +
                                "<td> " + res.uv + " </td><td style='color: #ff2f00'> " + (base_info.gmv/100/base_info.online_user_ucnt.value) + "</td></tr>"
                            html += "</table>"
                            html += "<h3>商品列表</h3>"
                            html += "<table class=\"table table-striped\">"
                            html += "<tr><th>商品</th><th>名称</th><th>价格</th><th>商品点击率</th><th>成交订单数</th><th>成交金额</th><th>成交转化率</th></>"
                            data_result = product_detail.data_result
                            if (data_result) {
                                for (var n = 0; n < data_result.length; n++ ){
                                    d = data_result[n]
                                    html += "<tr><td><a href='"+d.product.link+"' ><img style='width: 100px' src='" + d.product.image_uri + "'/></a></td>" +
                                        "<td><a href='"+d.product.link+"' >"+d.title+"</a></td>" +
                                        "<td>"+d.curr_min_price+"</td>" +
                                        "<td> " + d.product_click_in_live_rate + " </td>" +
                                        "<td> " + d.pay_in_live_order_cnt + " </td>" +
                                        "<td> " + d.pay_in_live_order_product_gmv + "</td>" +
                                        "<td> " + d.product_click_to_pay_rate + "</td>" +
                                        "</tr>"
                                }
                            }
                            html += "</table>"
                            html += "</div>"
                        }
                        // 定时器
                        $table.html(html)
                    }
                }
                setTimeout(function (){getData()}, 1000)
            },
        })
    }
    function login() {
        $.ajax({
            url: "api/get/qrcode",
            type: "get",
            dataType: "json",
            success: (res) => {
                if (res.code !== 8888 && !res.isLogin) {
                    $img = $(".qrcode")
                    $("#img").attr("src", "tmp/img/qrcode.png?time=" + new Date().getTime())
                    $img.show()
                }
            },
        })
    }
</script>
</html>